@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
* {max-width: 100%}

.sidebarr{
    background-color: rgb(231, 231, 231);
    
    padding: auto;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    
}
.sidebarr nav{
    padding: 4vh ;

}
.sidebarr nav li{
    list-style: none;
    font-size: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.sidebarr nav li a{
    text-decoration: none;
    color: black;
}

.sidebar{
    background-color: rgb(231, 231, 231);
    
    padding: auto;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    
    
}
.sidebar nav{
    padding: 4vh;
}
.sidebar nav li{
    list-style: none;
    font-size: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /*background-color: yellow;*/
    width: 100vw;
    height: 100vh;
    display: flex;
    
}
.container{
    display: flex;
   
    

}
.infocontainer{
    /*background-color: purple;*/
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devPic{
    display: flex;
    width: 80vh;
    height: 58vh;

    justify-content: space-around;
    

}

.devPic img{

}

.devinfo{
    display: flex;
    font-size: 16px;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vh;
    padding-bottom: 15vh;
    font-family: 'Source Code Pro', monospace;
    width: 50%;
    height: 100%;
    
}

.hello{
    font-size: 3em;
    
    font-family: 'Source Code Pro', monospace;
}

.name{
    font-size: 3em;
    margin: 0px 10px 0 0;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about{
    font-size: 2.5em;
}

.buttons{
    margin-top: 34px;
    cursor: pointer;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px
    
}
.buttons button:hover{
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
}

.moreabout{
    font-size: 2em;
    font-family: 'Fira Sans', sans-serif;
    white-space: nowrap
    
}

.moreabout{
    margin-top: 30px;
    height: 20%;
}

.contactform {
    font-family: 'Fira Sans', sans-serif;
    padding-top: 10vh;
    padding-left: 34px;
    padding-bottom: 1vh;
    margin: 0 88px;
    
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 0 2vh;

}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    /*width: 30vw;*/
    border-radius: 5px;
    margin-top: 6px 0;
    padding: 3px;
}

#form-check{
    flex-direction: row;
    white-space: nowrap;
    
    
}

#form-check input{
    width: 20px;
    margin: 3px 0;
    
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-label{
    margin: 10px 0;
}

#form-checking-label{
    padding-left: 10px;
}




.buttonn:hover{
    background-color: white;
    color: dodgerblue;
}

.buttonn{
    margin-top: 0px;
    cursor: pointer;
    width: 15vh;
}
.buttonn button{
    padding: 11px 14px;
    border-radius: 35px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 12px 0;
    height: 50px;
    text-align: center;
}
.buttonn :hover{
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
}

.blogitem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.blogcontainer h1{
     
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
    font-size: 6vh;
    padding-bottom: 2vh;
}

.blogcontainer{
    margin: 88px 88px;
}


.blogitem p{
    font-family: 'Source Code Pro', monospace;
}
.buttonnn{
    margin-top: 0px;
    cursor: pointer;
    width: 50vh;
    
}
.buttonnn button{
    padding: 11px 14px;
    border-radius: 35px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 12px 0;
    height: 50px;
    text-align: center;
}
.buttonnn :hover{
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
}

.introduction {
     margin: 10px 88px;
}

.introduction h1{
    margin: 3vh;
    font-family: 'Fira Sans', sans-serif;
    padding-left:55vh;
}

.introduction h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 3vh;

}

.introduction p{
    font-family: 'Source Code Pro', monospace;
    margin: 10px;
    padding: 2vh;
}
.skillcontainer{
    
}

.skillitem{
    display: flex;
    align-items: center;
    padding-left: 3vh;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    
}

.skill{
    width: 23vh;
    height: 1vh;
    background-color: red;
    border: 2px solid black;
}

.hundered{
    width: 265px;
    background-color: red;
}
.fifty{
    width: 125px;
    background-color: aqua;
}
.t5{
    width: 75px;
    background-color: yellow;
}

.rectangle5{
    white-space: nowrap;
    display: flex;
    padding-left: 3vh;
   
}
.rectangle5-2{
    white-space: nowrap;
    display: flex;
    padding-left: 6vh;
    
    
}
.rectangle5-3{
    white-space: nowrap;
    display: flex;
    padding-left: 6vh;
}


.imagesection2 img{
    border: 3px solid black;
}
.imagesection22 img{
    border: 3px solid black;
}
.imagesection222 img{
    border: 3px solid black;
}

.rectangle4 p{
    padding-top: 30vh;
    padding-left: 1vh;
}

.websitesmademyme {
    padding-left: 13vh;
    flex-direction: row;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
    
    
}

.p1{
    padding-left: 5vh;
    text-align: left;
    white-space: nowrap;
    flex-direction: row;
    
}

.t2{
    padding-left: 43vh;
   
    
}
.t3{
    padding-left: 96vh;
    
}

.sidebargo{
    transform: translate(-443px,0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross{
    margin-left: 19vh;
}

@media (max-width: 1400px) 
{
    .sidebar{
        transform: translate(-443px,0px);
        position: absolute;
    }
    .introduction, .blogcontainer, .contactform   {
        margin: 8px;
    }

    .devinfoo{
        font-size: 10px ;
        text-align: center;
        padding-left: 25vh;
        padding-right: 5vh;
    }

    .devPic{
       
       /* height: 14em;*/
       display: block;
       visibility: hidden;

    }

    .sidebargoo{
        text-align: left;
        position: absolute;
    }

    .sidebarr{

    }

    .sidebarr nav{
        padding: 4vh 1vh;
    
    }
    .sidebarr nav li{
        list-style: none;
        font-size: 3vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .introduction h1{
        margin: 3vh;
        padding-left:23vh;
    }
    .introduction h2{
        padding-left:25vh;
    }
    .introduction .skillitem{
        width: 27vh;
        margin: 0 1vh;
    }
    .introduction p{
        padding-left: 16vh;
        
    }
    .skillcontainer{
        padding-left: 13vh;
    }
    .rectangle5{
    
    }
}

.bbutton{
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 3vh;
    
    
    
}
.bbutton button{
    padding: 11px 14px;
    border-radius: 35px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 12px 0;
    height: 100%;
    text-align: center;
    
    
}
.bbutton :hover{
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
}


.bbbutton{
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 3vh;
    
    
    
}
.bbbutton button{
    padding: 11px 14px;
    border-radius: 35px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 12px 0;
    margin-left: 100%;
    height: 100%;
    text-align: center;
    
    
}
.bbbutton :hover{
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
}

.space {
    width: 35px;
    height: auto;
    display: inline-block;
  }